@font-face {
  src: url("../../fonts/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__title {
  padding-bottom: 30px;
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px;
  width: 496px;
  max-height: 610px;
  box-sizing: border-box;
  border-radius: 15px;
}

.modal__image {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0 28px;
  margin: 28px 0 0 0;
}

.modal__weather {
  padding: 0 28px 28px;
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.modal__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__legend {
  margin-bottom: 8px;
}

.modal__close {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/Close-Icon.png);
}

.modal__submit {
  width: 124px;
  height: 36px;
  top: 557px;
  left: 500px;
  gap: 12px;
  opacity: 0px;
  background-color: rgb(172, 171, 171);
  border: none;
  font-family: "Cabinet Grotesk";
  color: white;
  border-radius: 5px;
}
