@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/fonts/CabinetGrotesk-Medium.otf") format("opentype");
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__content {
  background-color: #fff;
  position: relative;

  max-width: 496px;
  box-sizing: border-box;

  width: 496px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 28px 28px 36px 28px;
}
.modal__content_type_addgarment {
  padding: 28px 28px 36px 28px;
}
.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.modal__close {
  position: absolute;
  right: 28px;
  top: 20px;

  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.modal__close_type_grey {
  background-image: url(../../assets/closebtn-addgarment.svg);
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input_type_name {
  margin-top: 24px;
}
.modal__input_type_email {
  padding-top: 24px;
}
.modal__input_type_image {
  margin-top: 24px;
}
.modal__input_type_password {
  padding-top: 24px;
}
.modal__input_type_avatarurl {
  padding-top: 24px;
}
.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 8px;
  width: 440px;
}
.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  gap: 8px;

  margin-top: 24px;
}
.modal__label_type_radio {
  accent-color: black;
}
.modal__legend {
  margin-bottom: 17px;
}
.modal__buttons-wrapper {
  /* display: flex;
  align-items: center; */
}
.modal__submit {
  border: none;
  background: #0000004d;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  padding: 8px 16px;

  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 40px;
}
.modal__delete-button {
  cursor: pointer;
}
.modal__or-signup-btn {
  border: none;
  background: transparent;
  color: #00000080;
  cursor: pointer;
}
.modal__or-login-btn {
  border: none;
  background: transparent;
  color: #00000080;
  cursor: pointer;
}
