.switch {
  display: flex;
  position: relative;
  left: 450px;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  top: 0px;
  left: 2px;
}

.switch__slider-C {
  top: 0px;
  left: 20px;
}

.switch__active {
  font-size: 16px;
}

.switch__temp-F {
  position: absolute;
  top: -12px;
  left: 9px;
  color: #fff;
}

.switch__temp-C {
  position: absolute;
  top: -12px;
  left: 30px;
  color: #fff;
}
