@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/fonts/CabinetGrotesk-Medium.otf") format("opentype");
}
.switch {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Cabinet Grotesk";
  font-size: 14px;
  line-height: 17.36px;
  font-weight: 700;
}

.switch__box {
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
  cursor: pointer;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.switch__slider-F {
  top: 0px;
  left: 27px;
  color: #000;
}
.switch__slider-C {
  top: 0px;
  left: 1px;
  color: #000;
}
.switch__active {
  color: #fff;
}
.switch__temp-F {
  position: absolute;
  top: -6px;
  left: 39px;
  cursor: pointer;
}
.switch__temp-C {
  position: absolute;
  top: -7px;
  left: 11px;
  cursor: pointer;
}
