.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__name {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.card__image {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 328px;
  object-fit: cover;
}

.card__info {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 10px;
  gap: 10px;
}

.card__like-button {
  background-image: url("../../assets/like-button.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

.card__like-button_active {
  background-image: url("../../assets/like-button_active.svg");
}
