@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/fonts/CabinetGrotesk-Medium.otf") format("opentype");
}
.cards {
  margin-top: 40px;
}
.cards__text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
  width: 330px;
  height: 25px;
  white-space: nowrap;
  margin: 0 0 34px 0px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}
