.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__content {
  padding: 1px 1px 25px;
}

.modal__caption {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 550;
}

.modal__footer {
  position: relative;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 550;
  padding-left: 30px;
}

.modal__delete-btn {
  position: absolute;
  top: -2px;
  right: 25px;
  color: #ff4d00;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  border: 0;
  background-color: #fff;
}
