.sidebar {
  gap: 15px;
  flex-direction: column;
  display: flex;
}

.side-bar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.side-bar__name {
  width: 157px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.sidebar__options {
  width: 157px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  font-family: "Cabinet Grotesk", sans-serif;
  flex-direction: column;
  display: flex;
}

.side-bar__edit-profile {
  padding: 0%;
  margin: 0;
  border: none;
  background-color: none;
  display: flex;
}

.side-bar__log-out {
  padding: 0%;
  margin: 0;
  border: none;
  background-color: none;
  display: flex;
}

.side-bar__profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
