.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.clothes-section__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.clothes-button {
  border: none;
  opacity: 70%;
  font-family: "Cabinet Grotesk";
}

.clothes-items {
  margin: 0 0 0 40px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}
